{% extends 'base.html' %} {% block body %}

<div class="descricaoEntrega">
  <h2>WRITE()</h2>
  <p>
    A primitiva write() é uma chamada de sistema fundamental usada em sistemas
    operacionais para escrever dados em um determinado arquivo que foi
    previamente aberto. Quando um programa deseja gravar informações em um
    arquivo, a função write() é usada para transferir esses dados para o
    dispositivo de armazenamento (disco rígido, SSD, etc) ou outro tipo de
    destino de arquivo.
  </p>
</div>

{% endblock %}
