{% extends 'base.html' %} {% block body %}

<div class="descricaoEntrega">
  <h2>MUNMAP()</h2>
  <p>
    AA primitiva munmap() é uma chamada de sistema em sistemas operacionais
    usada para desmapear uma região de memória previamente mapeada com mmap().
    Ela permite que o sistema operacional libere os recursos associados à
    memória que foi mapeada no espaço de memória do processo, encerrando o uso
    dessa área de memória.
  </p>
  <p>
    Didaticamente, é uma espécie de função antagônica a mmap(), ''Enquanto uma
    inicializa o processo, a outra encerra''.
  </p>

  <div class="container-imagem">
    <h4>Ilustração da chamada de sistema munmap()</h4>
    <video width="640" height="360" controls>
      <source
        src="{{ url_for('static', filename='videos/video_mmap_munmap.mp4') }}"
        type="video/mp4"
      />
    </video>
  </div>

  <br />
  <br />

  <div class="exemplo-codigo">
    <h4>Veja o exemplo de código a seguir da função munmap():</h4>
    <div class="codigo-container">
      <form method="POST">
        <button class="botao-compilar" type="submit">▶ Executar</button>
      </form>

      <pre><code>
  #include &lt;stdio.h&gt;  
  #include &lt;stdlib.h&gt;    
  #include &lt;sys/mman.h&gt;   
  #include &lt;unistd.h&gt;  
  #include &lt;string.h&gt;  
  
  int main() {
    size_t length = 4096;
    void *addr;

    addr = mmap(NULL, length, PROT_READ | PROT_WRITE, MAP_PRIVATE | MAP_ANONYMOUS, -1, 0);
    
    if (addr == MAP_FAILED) {
        perror("mmap");
        exit(1);
    }

    strcpy((char*)addr, "Memória alocada com mmap() e manipulada!");

    printf("Conteúdo na memória mapeada: %s\n", (char*)addr);

    if (munmap(addr, length) == -1) {
        perror("munmap");
        exit(1);
    }

    printf("Memória desalocada com sucesso!\n");

    return 0;
}

  </code></pre>
    </div>
    {% if resultado %}
    <pre class="saida-codigo">
      {{ resultado }}
    </pre>
    {% endif %}
  </div>
</div>

{% endblock %}
