{% extends 'base.html' %} {% block body %}

<div class="descricaoEntrega">
  <h2>MMAP()</h2>
  <p>
    A primitiva mmap() é uma chamada q qual permite mapear arquivos ou
    dispositivos diretamente para o espaço de memória do processo. Em vez de ler
    e escrever arquivos byte a byte (como as primitivas read() e write()), a
    mmap() mapeia o conteúdo de um arquivo para um endereço de memória virtual.
    Isso permite que o processo manipule os dados diretamente na memória, como
    se fosse uma parte do seu próprio espaço de memória.
  </p>

  <div class="container-imagem">
    <h4>Ilustração da chamada de sistema mmap()</h4>
    <video width="640" height="360" controls>
      <source
        src="{{ url_for('static', filename='videos/video_mmap_munmap.mp4') }}"
        type="video/mp4"
      />
    </video>
  </div>

  <br />
  <br />

  <div class="exemplo-codigo">
    <h4>Veja o exemplo de código a seguir da função mmap():</h4>
    <div class="codigo-container">
      <form method="POST">
        <button class="botao-compilar" type="submit">▶ Executar</button>
      </form>

      <pre><code>
  #include &lt;stdio.h&gt;  
  #include &lt;stdlib.h&gt;    
  #include &lt;sys/mman.h&gt;   
  #include &lt;unistd.h&gt;  
  
  int main() {
    int *ptr;
    int n = 5; 

    ptr = (int*)mmap(NULL, n * sizeof(int), PROT_READ | PROT_WRITE, MAP_PRIVATE | MAP_ANONYMOUS, -1, 0);
    
    if (ptr == MAP_FAILED) {
        perror("Erro ao alocar memória com mmap");
        return 1;
    }

    for (int i = 0; i < n; i++) {
        ptr[i] = i + 1;
    }

    printf("Valores armazenados na memória:\n");
    for (int i = 0; i < n; i++) {
        printf("%d ", ptr[i]);
    }
    printf("\n");

    if (munmap(ptr, n * sizeof(int)) == -1) {
        perror("Erro ao liberar memória com munmap");
        return 1;
    }

    return 0;
}

  </code></pre>
    </div>
    {% if resultado %}
    <pre class="saida-codigo">
      {{ resultado }}
    </pre>
    {% endif %}
  </div>
</div>

{% endblock %}
