{% extends 'base.html' %} {% block body %}

<div class="descricaoEntrega">
  <h2>SLEEP()</h2>
  <p>
    A primitiva sleep() é uma chamada de sistema usada em sistemas operacionais
    para fazer o processo atual pausar a sua execução por um determinado período
    de tempo. Durante esse tempo, o processo não realiza nenhuma ação e não
    consome ciclos de CPU. A função sleep() é útil quando você deseja que um
    processo aguarde antes de continuar a execução, sem precisar de intervenção
    ativa.
  </p>
</div>

{% endblock %}
