{% extends 'base.html' %} {% block body %}

<div class="descricaoEntrega">
  <h2>READ()</h2>
  <p>
    A função read() é usada para ler dados de um arquivo, ou de um dispositivo
    como de E/S , e transferir esses dados para um buffer no espaço de memória
    do programa. Quando você usa read(), o sistema operacional coloca todos os
    dados obtidos pela primitiva no buffer especificado, e o número de bytes
    lidos é retornado. Assim como write(), a read() é uma das funções
    fundamentais para a interação com arquivos e dispositivos no sistema
    operacional.
  </p>
</div>

{% endblock %}
