{% extends 'base.html' %} {% block body %}

<div class="descricaoEntrega">
  <h2>PAUSE()</h2>
  <p>
    A primitiva pause() é uma chamada de sistema em sistemas operacionais
    baseados em UNIX e Linux que faz com que o processo atual entre em um estado
    de espera até que receba um sinal (signal) de outro processo ou do próprio
    sistema. É uma função simples, mas muito útil para sincronização e controle
    de fluxo em programas que precisam aguardar a chegada de eventos
    assíncronos, como sinais de interrupção.
  </p>
</div>

{% endblock %}
