{% extends 'base.html' %} {% block body %}

<div class="descricaoEntrega">
  <h2>OPEN()</h2>
  <p>
    A primitiva open() é uma chamada na qual um programa abre um arquivo. Isso
    significa que o sistema operacional reserva certos recursos para que o
    arquivo possa ser manipulado, seja sendo lido, escrito, etc. Essa primitiva
    retorna um identificador de arquivo, geralmente um número inteiro, o qual
    será usado pelo programa para fazer outras operações no arquivo, como
    leitura e escrita, por exemplo.
  </p>
  <p>
    De forma didática, o open() diz ao sistema operacional: "Quero começar a
    trabalhar com esse arquivo aqui". E o sistema operacional então fornece ao
    programa um identificador próprio desse mesmo arquivo para que ele possa
    acessá-lo.
  </p>

  <div class="exemplo-codigo">
    <p>Veja o exemplo a seguir:</p>
    <pre><code>
  #include &lt;fcntl.h&gt;  
  #include &lt;unistd.h&gt;    
  #include &lt;stdio.h&gt;   
  #include &lt;stdlib.h&gt;  
  
  int main() {
      int fd;
  
      printf("Tentando abrir: myFile.txt\n");
      fd = open("dados/myFile.txt", O_CREAT | O_WRONLY | O_TRUNC, 0644);
      if (fd < 0) {
          perror("Error opening file");
          exit(EXIT_FAILURE);
      }
  
      printf("file 'myFile.txt' opened successfully\n");
  
      close(fd);
      return 0;
  }

  </code></pre>

    <form method="POST">
      <button class="botao-compilar" type="submit">Executar código</button>
    </form>

    {% if resultado %}
    <pre class="saida-codigo">
      {{ resultado }}
    </pre>
    {% endif %}
  </div>
</div>

{% endblock %}
