{% extends 'base.html' %} {% block body %}

<div class="descricaoEntrega">
  <h2>MPROTECT()</h2>
  <p>
    A primitiva mprotect() é utilizada em sistemas operacionais para modificar
    as permissões de acesso de uma área de memória já mapeada (pela mmap()). Ela
    permite alterar as permissões de leitura, escrita e execução de uma região
    de memória, oferecendo um controle maximizado sobre quais processos ou
    threads podem acessar a memória de diferentes formas.
  </p>
  <p>
    mprotect() é frequentemente usada em cenários em que há necessidade de uma
    proteção maior da memória, como em sistemas que implementam segurança,
    compartilhamento de memória ou em situações que exigem modificação das
    permissões de memória durante a execução do programa.
  </p>

  <div class="container-imagem">
    <h4>Ilustração da chamada de sistema mprotect()</h4>
    <img
      src="{{ url_for('static', filename='img/imagem_mprotect.jpeg') }}"
      class="imagem-ajustada"
    />
  </div>

  <br />
  <br />

  <div class="exemplo-codigo">
    <h4>Veja o exemplo de código a seguir da função mprotect():</h4>
    <div class="codigo-container">
      <form method="POST">
        <button class="botao-compilar" type="submit">▶ Executar</button>
      </form>

      <pre><code>
  #include &lt;unistd.h&gt;  
  #include &lt;signal.h&gt;    
  #include &lt;stdio.h&gt;   
  #include &lt;malloc.h&gt;  
  #include &lt;stdlib.h&gt;  
  #include &lt;errno.h&gt;
  #include &lt;sys/mman.h&gt;

  
  #define handle_error(msg) \
	do { perror(msg); exit(EXIT_FAILURE); } while (0)

  static char *buffer;

  static void handler(int sig, siginfo_t *si, void *unused) {
	  printf("Got SIGSEGV at address: 0x%lx\n",(long) si->si_addr);

	  exit(EXIT_FAILURE);
}

int main(int argc, char *argv[]) {
	char *p;
	int pagesize;
	struct sigaction sa;

	sa.sa_flags = SA_SIGINFO;
	sigemptyset(&sa.sa_mask);
	sa.sa_sigaction = handler;			
	if (sigaction(SIGSEGV, &sa, NULL) == -1)
		handle_error("sigaction");

	pagesize = sysconf(_SC_PAGE_SIZE);		
	if (pagesize == -1)
		handle_error("sysconf");
	printf("Pagesize is:		0x%x\n",pagesize);
	
	buffer = memalign(pagesize, 4 * pagesize);	
	if (buffer == NULL)
		handle_error("memalign");
	printf("Start of region:        0x%lx\n", (long) buffer);	
	
	if (mprotect(buffer + pagesize * 2, pagesize, PROT_READ) == -1)
	
		handle_error("mprotect");

	for (p = buffer ; ; )		
		*(p++) = 'a';
	

	printf("Loop completed\n");     
	exit(EXIT_SUCCESS);
 }

  </code></pre>
    </div>
    {% if resultado %}
    <pre class="saida-codigo">
      {{ resultado }}
    </pre>
    {% endif %}
  </div>
</div>

{% endblock %}
