<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-home" href="/">Home - Projeto</a>
    <ul class="navbar-items">
      <li class="nav-item">
        <a class="nav-link" href="/entrega1">Entrega1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/entrega2">Entrega2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/entrega3">Entrega3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/anotacoes_professor">Anotações-Professor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Sair↩️</a>
      </li>
    </ul>
  </div>
</nav>
